
@import 'slick';
@import 'slick-theme';
@import 'onepage-scroll';
@import 'header';
@import 'sect2';

body {
	position: relative;
	padding: 0;
	margin: 0;
	// font-family: 'OpenSans-Regular', sans-serif;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #fff;
	
}
*,
*:after,
*:before {
	box-sizing: border-box;
}
.container {
    width: 85%;
    margin: 0 auto;

}


.onepage-pagination {
    * {
        transition: all .2s;
    }

    top: 25%;

    li:first-child {
        opacity: 0;
    }
    li {
        padding: 28px 0 0 0;

        a {
            position: relative;
            width: 30px;
            height: 30px;
            padding: 15px;
  
        }
        a.active {
            width: 10px;
            height: 10px;
            background: #fff;
            border-radius: 50%;
        }
    }
   

}
.onepage-pagination li a:before {
    width: 40px;
    height: 40px;
    background: transparent;
    -moz-border-radius: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    left: -5.2px;
    bottom: -4.9px;
}
.onepage-pagination li a.active:before {
    width: 40px;
    height: 40px;
    background: transparent;
    -moz-border-radius: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-top: 0;
    left: -5.2px;
    bottom: -4.9px;
}





